Decision Tree Algorithm

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Data Loading

In [2]:
titanic_df=sns.load_dataset('titanic')

In [3]:
titanic_df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [4]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
titanic_df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [6]:
titanic_df.shape

(891, 15)

In [7]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
titanic_df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

Data Preprocessing

In [9]:
titanic_df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
titanic_df['age'].fillna(value=titanic_df['age'].mean(),inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_32732\2891387634.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['age'].fillna(value=titanic_df['age'].mean(),inplace=True)

In [11]:
titanic_df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
titanic_df.head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.000000,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.000000,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.000000,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.000000,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.000000,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.000000,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
13,0,3,male,39.000000,1,5,31.2750,S,Third,man,True,NaN,Southampton,no,False
14,0,3,female,14.000000,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
15,1,2,female,55.000000,0,0,16.0000,S,Second,woman,False,NaN,Southampton,yes,True
16,0,3,male,2.000000,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
17,1,2,male,29.699118,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
18,0,3,female,31.000000,1,0,18.0000,S,Third,woman,False,NaN,Southampton,no,False
19,1,3,female,29.699118,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True

In [13]:
titanic_df['deck'].fillna(value=titanic_df['deck'].mode()[0],inplace=True)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_32732\2357712339.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_df['deck'].fillna(value=titanic_df['deck'].mode()[0],inplace=True)

In [14]:
titanic_df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [15]:
titanic_df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,C,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,C,Southampton,no,True
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,C,Queenstown,no,True
6,0,1,male,54.000000,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.000000,3,1,21.0750,S,Third,child,False,C,Southampton,no,False
8,1,3,female,27.000000,0,2,11.1333,S,Third,woman,False,C,Southampton,yes,False
9,1,2,female,14.000000,1,0,30.0708,C,Second,child,False,C,Cherbourg,yes,False

In [16]:
titanic_df.dropna(inplace=True)

In [17]:
titanic_df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [18]:
titanic_df.head(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,C,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,C,Southampton,no,True
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,C,Queenstown,no,True
6,0,1,male,54.000000,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.000000,3,1,21.0750,S,Third,child,False,C,Southampton,no,False
8,1,3,female,27.000000,0,2,11.1333,S,Third,woman,False,C,Southampton,yes,False
9,1,2,female,14.000000,1,0,30.0708,C,Second,child,False,C,Cherbourg,yes,False
10,1,3,female,4.000000,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.000000,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
12,0,3,male,20.000000,0,0,8.0500,S,Third,man,True,C,Southampton,no,True
13,0,3,male,39.000000,1,5,31.2750,S,Third,man,True,C,Southampton,no,False
14,0,3,female,14.000000,0,0,7.8542,S,Third,child,False,C,Southampton,no,True
15,1,2,female,55.000000,0,0,16.0000,S,Second,woman,False,C,Southampton,yes,True
16,0,3,male,2.000000,4,1,29.1250,Q,Third,child,False,C,Queenstown,no,False
17,1,2,male,29.699118,0,0,13.0000,S,Second,man,True,C,Southampton,yes,True
18,0,3,female,31.000000,1,0,18.0000,S,Third,woman,False,C,Southampton,no,False
19,1,3,female,29.699118,0,0,7.2250,C,Third,woman,False,C,Cherbourg,yes,True

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   age          889 non-null    float64
 4   sibsp        889 non-null    int64
 5   parch        889 non-null    int64
 6   fare         889 non-null    float64
 7   embarked     889 non-null    object
 8   class        889 non-null    category
 9   who          889 non-null    object
 10  adult_male   889 non-null    bool
 11  deck         889 non-null    category
 12  embark_town  889 non-null    object
 13  alive        889 non-null    object
 14  alone        889 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 87.3+ KB

In [21]:
encoder=LabelEncoder()

In [22]:
titanic_df['sex']=encoder.fit_transform(titanic_df['sex'])

In [23]:
titanic_df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,1,22.000000,1,0,7.2500,S,Third,man,True,C,Southampton,no,False
1,1,1,0,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,0,26.000000,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,0,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,1,35.000000,0,0,8.0500,S,Third,man,True,C,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,S,Second,man,True,C,Southampton,no,True
887,1,1,0,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,0,29.699118,1,2,23.4500,S,Third,woman,False,C,Southampton,no,False
889,1,1,1,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,1,32.000000,0,0,7.7500,Q,Third,man,True,C,Queenstown,no,True

In [24]:
titanic_df['embarked']=encoder.fit_transform(titanic_df['embarked'])

In [25]:
titanic_df['who']=encoder.fit_transform(titanic_df['who'])

In [26]:
titanic_df['embark_town']=encoder.fit_transform(titanic_df['embark_town'])

In [27]:
titanic_df['alive']=encoder.fit_transform(titanic_df['alive'])

In [28]:
titanic_df['class']=encoder.fit_transform(titanic_df['class'])
titanic_df['deck']=encoder.fit_transform(titanic_df['deck'])

In [29]:
titanic_df.drop(['class','who','adult_male','embark_town','alive'],axis=1,inplace=True)

In [30]:
titanic_df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,alone
0,0,3,1,22.000000,1,0,7.2500,2,2,False
1,1,1,0,38.000000,1,0,71.2833,0,2,False
2,1,3,0,26.000000,0,0,7.9250,2,2,True
3,1,1,0,35.000000,1,0,53.1000,2,2,False
4,0,3,1,35.000000,0,0,8.0500,2,2,True
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,2,2,True
887,1,1,0,19.000000,0,0,30.0000,2,1,True
888,0,3,0,29.699118,1,2,23.4500,2,2,False
889,1,1,1,26.000000,0,0,30.0000,0,2,True
890,0,3,1,32.000000,0,0,7.7500,1,2,True

In [31]:
x=titanic_df.drop(['survived'],axis=1)
y=titanic_df.survived

In [32]:
print(x)

     pclass  sex        age  sibsp  parch     fare  embarked  deck  alone
0         3    1  22.000000      1      0   7.2500         2     2  False
1         1    0  38.000000      1      0  71.2833         0     2  False
2         3    0  26.000000      0      0   7.9250         2     2   True
3         1    0  35.000000      1      0  53.1000         2     2  False
4         3    1  35.000000      0      0   8.0500         2     2   True
..      ...  ...        ...    ...    ...      ...       ...   ...    ...
886       2    1  27.000000      0      0  13.0000         2     2   True
887       1    0  19.000000      0      0  30.0000         2     1   True
888       3    0  29.699118      1      2  23.4500         2     2  False
889       1    1  26.000000      0      0  30.0000         0     2   True
890       3    1  32.000000      0      0   7.7500         1     2   True

[889 rows x 9 columns]

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=123)

In [34]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((711, 9), (178, 9), (711,), (178,))

In [35]:
decision_model=DecisionTreeClassifier(max_depth=4)

In [36]:
decision_model.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=4)

In [37]:
y_pred=decision_model.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [39]:
accuracy_score(y_test,y_pred)

0.8202247191011236

In [40]:
precision_score(y_test,y_pred)

0.8571428571428571

In [41]:
f1_score(y_test,y_pred)

0.75

In [42]:
recall_score(y_test, y_pred)

0.6666666666666666

In [43]:
from sklearn.metrics import roc_auc_score

In [44]:
roc_auc_score(y_test, y_pred)

np.float64(0.7955974842767295)

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
from sklearn.metrics import roc_auc_score

In [47]:
knn = KNeighborsClassifier(n_neighbors=5)
# knn.fit(X_train, y_train)
# knn_preds = knn.predict(X_test)

In [48]:
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [49]:
knn_preds = knn.predict(x_test)

In [50]:
accuracy_score(y_test, knn_preds)

0.6853932584269663

In [51]:
precision_score(y_test, knn_preds)

0.6333333333333333

In [52]:
f1_score(y_test, knn_preds)

0.5757575757575758

In [53]:
recall_score(y_test, knn_preds)

0.5277777777777778

In [54]:
from sklearn.metrics import roc_auc_score

In [55]:
roc_auc_score(y_test, knn_preds)

np.float64(0.6601153039832286)

In [56]:
from sklearn.naive_bayes import GaussianNB

In [57]:
navie= GaussianNB()

In [58]:
navie.fit(x_train,y_train)

GaussianNB()

In [59]:
y_navie_pred = navie.predict(x_test)

In [60]:
accuracy_score(y_test, y_navie_pred)

0.7078651685393258

In [61]:
precision_score(y_test, y_navie_pred)

0.65625

In [62]:
f1_score(y_test, y_navie_pred)

0.6176470588235294

In [63]:
recall_score(y_test, y_navie_pred)

0.5833333333333334

In [64]:
from sklearn.metrics import roc_auc_score

In [65]:
roc_auc_score(y_test, y_navie_pred)

np.float64(0.6878930817610064)